<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<style id="webmakerstyle">

</style>
</head>
<body>
<section class='container'>
	<section class='row'>
		<section class='col-md-3 col-sm-2 col-xs-2'></section>
		<section class='col-md-6 col-sm-8 col-xs-8'>
			<h1 class='header text-center'>
				Wellness
			</h1>
			<h4 class='text-center'>
				Change Password
			</h4>
			<form action='{{HOST}}user/changePassword' method='POST' style="padding: 20px; background: #f0f0f0; border-radius: 5px;">
				<input type='hidden' value='{{passToken}}' name='passToken'/>
				<input type='hidden' value='{{user_name}}' name='user_name' />
				<input class='form-control' type='password' name='password' placeholder='Type new password' /><br/>
				<p class='text-center'>
					<button class='btn btn-dark btn-sm'>
						Change Password
					</button>
				</p>
			</form>
		</section>
		<section class='col-md-3 col-sm-2 col-xs-2'></section>
	</section>
</section>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="filesystem:chrome-extension://lkfkkhfhhdkiemehlpkgjeojomhpccnh/temporary/script.js">
</script>
</body>
</html>